<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/../images/tab-logo.png">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>test</title>
  
  <body>
      <nav>
          <h1>USA International Airport</h1>
        <a href="/flights/new" <%- title === 'Add Flights' ? 'class="active"' : '' %>>ADD Flight</a>
        <a href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>>ALL Flights</a>
      </nav>
      <main>
      
    