<%- include('../partials/header') %>
<form>
<label>Seat No:
        <input type="text" name="seat"></input>
      </label><br><br>
      <label>Price:
        <input type="text" name="price"></input>
      </label><br><br>
     
     
        <input type="submit" value="Add Ticket">
  
</form>




<%- include('../partials/footer') %>