<!DOCTYPE html>
<html>
  <head>
      <link rel="icon" href="/images/tab-logo.png">
      <title>Flights</title>
   
  </head>
  <body>
      <h1><%= title %></h1>
      <nav>
          <div>
              Add Flight
            </div>
      
            <div>
                All Flights
            </div>
      </nav>
    

    <p></p>
  </body>
</html>
