*{
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(/images/background3.png);
  background-size: cover;
  background-color: #009FD2;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  
}

a {
  color: #00B7FF;
}
h1{
  font-size: 2.5rem;
  margin-bottom: 15px;
}
h2, h5{
  
  font-size: 1.5rem;
  text-align: center;
}
nav{
  margin: 20px auto;
  text-align: center;
  width: 65%;
  height: 100px;
  border-radius: 10px;
  background-color: #1e629e;

}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:not(.active):hover {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
}
.table-flights{
  width: 65%;
  margin: 0 auto;
}

.table-tick-des{
  width: 75%;
}

.newFlight {
  text-align: center;
}

.col{
  text-align: -webkit-center;
  width: 65%;
  margin-left: 130px;
}

.row{
  width: 80%;
  text-align: -webkit-center;
 
}
