<!DOCTYPE html>
<html>
  
    <body>
     
    <h2>Enter a New Flight</h2>
    <form action="/flights" method="POST">
      <label>Airlane:
        <select name="airlane">
          <option value="SW">Southwest</option>
          <option value="AM">American</option>
          <option value="UN">United</option>
        </select>
      </label><br>
      <label>Flight No:
        <input type="text" name="flightNo">
      </label><br>
    </form>
   
  </body>
</html>
