<%- include('../partials/header') %>


<h2>Enter a New Flight</h2>
<form class="newFlight" action="/flights" method="POST">
  <label>Airlane:
    <select name="airlane">
      <option value="Southwest">Southwest</option>
      <option value="American">American</option>
      <option value="United">United</option>
    </select>
  </label><br><br>
  <label>Flight No:
    <input type="text" name="flightNo"></input>
  </label><br><br>
  <label>Departs:
    <input type="datetime-local" name="departs"></input>
  </label><br><br>
  <input type="submit" name="Add Flight"></input>

</form>

<!-- </body>
</html> -->
<%- include('../partials/footer') %>